<!doctype html>
<html lang="en" style="font-size: 62.5%;">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/dist/vendor.css?v={{ admin.version }}" />
    <link rel="stylesheet" type="text/css" href="/dist/base.css?v={{ admin.version }}" />
    <script type="text/javascript" src="/dist/vendor.js?v={{ admin.version }}"></script>
    <script type="text/javascript" src="/dist/switchery.min.js?v={{ admin.version }}"></script>
    <script type="text/javascript" src="/dist/base.js?v={{ admin.version }}"></script>
  {% endblock %}
</head>
<!-- layout html -->
{% block page %}{% endblock %}
</html>
