.base-font {
  font-family: 'Nunito', sans-serif;
}
.white-bg {
  background: #fff;
}
.white {
  color: #fff;
}
.base-body {
  background-color: #5c5edc;
  border-color: #5c5edc;
}
.base-border {
  border: 1px solid #5c5edc;
}
.base-color {
  color: #5c5edc;
}
.radius {
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
}
.input-border {
  border: 1px solid #e7eaec;
}
.font-color {
  color: #575B82;
}
.form-color {
  color: #222;
}
body {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  margin: 0;
  color: #575B82;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.525em;
  background: #fff;
}
.container-fluid {
  padding-bottom: 40px;
}
.help-block {
  font-size: 12px;
}
.mce-branding-powered-by {
  display: none;
}
/* login page */
.admin-body-login {
  background-color: #1c1d22;
}
.admin-body-login .form-wrapper {
  margin-top: 180px;
}
.admin-body-login h2.title {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 800;
  color: #fff;
}
.admin-body-login .form-control {
  height: 44px;
}
.admin-body-login .form-wrapper .btn-primary {
  width: 40%;
  font-weight: 700;
}
/* index page */
.menu__level {
  visibility: visible;
}
/* form elements */
.form-control {
  height: 44px;
  border: 1px solid #e7eaec;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
  box-shadow: none;
}
.form-control:focus {
  border: 1px solid #5c5edc;
}
.btn-primary {
  background-color: #5c5edc;
  border-color: #5c5edc;
  color: #fff;
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover {
  background-color: #5c5edc;
  border-color: #5c5edc;
}
.dummy-logo {
  background: #F1F5F9;
  z-index: 99;
  border-right: 1px solid #e7eaec;
}
.dummy-heading {
  font-weight: 700;
}
.menu {
  background: #F1F5F9;
  height: calc(100vh);
  top: 0;
  border-right: 1px solid #e7eaec;
}
.menu__link {
  color: #575B82;
}
.menu__wrap {
  top: 105px;
}
.content-body {
  /*
  -webkit-box-shadow: 3px 3px 20px 0px rgba(87,91,130,0.2);
  -moz-box-shadow: 3px 3px 20px 0px rgba(87,91,130,0.2);
  box-shadow: 3px 3px 20px 0px rgba(87,91,130,0.2);
  */
  background: #fff;
  padding: 25px 30px;
  max-width: 960px;
}
/* selectize */
.selectize-input {
  min-height: 44px;
  padding: 11px 12px;
  font-size: 14px;
  border: 1px solid #e7eaec;
  color: #222;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #222;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 10px 12px 8px;
}
.selectize-input.focus {
  border: 1px solid #5c5edc;
  box-shadow: none;
}
/* form elements */
textarea {
  resize: none;
}
textarea.form-control {
  min-height: 225px;
}
.form-group {
  min-height: 50px;
}
.has-error .help-block {
  color: #FD85A6;
}
.has-error .form-control,
.has-error .form-control:focus {
  border: 1px solid #e7eaec;
}
label {
  display: none;
}
.mce-edit-area label {
  display: block;
  color: #575B82 !important;
  opacity: 0.8;
  font-family: 'Nunito', sans-serif;
}
.checkbox label {
  display: inline-block;
}
.fl-form input.fl-input,
.fl-form select.fl-select,
.fl-form textarea.fl-textarea {
  margin-bottom: 0;
  font-size: 14px;
  border: 1px solid #e7eaec;
  color: #222;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
  box-shadow: none;
}
.fl-form .fl-is-active input.fl-input,
.fl-form .fl-is-active select.fl-select,
.fl-form .fl-is-active textarea.fl-textarea {
  border: 1px solid #e7eaec;
  color: #222;
}
.fl-form .fl-has-focus input.fl-input,
.fl-form .fl-has-focus select.fl-select,
.fl-form .fl-has-focus textarea.fl-textarea {
  border: 1px solid #5c5edc;
}
.fl-form .fl-has-focus label.fl-label {
  color: #5c5edc;
}
.fl-form .fl-is-active label.fl-label {
  z-index: 99;
}
.fl-wrap-select:after {
  display: none;
}
.mce-panel {
  background: #fff;
  border: 1px solid #e7eaec;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
}
.mce-btn {
  background: #fff;
}
.mce-toolbar-grp {
  border: 0;
}
.mce-ico {
  color: #575B82;
  font-size: 12px;
  text-align: center;
}
.mce-btn button {
  padding: 2px 6px;
}
.mce-btn-group:not(:first-child) {
  border-left: 1px solid #e7eaec;
}
.mce-wordcount {
  color: #575B82;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.4;
}
.fl-form .fl-has-focus .mce-tinymce {
  border: 1px solid #5c5edc;
}
.fl-form textarea.fl-textarea::-webkit-input-placeholder,
.fl-form input.fl-input::-webkit-input-placeholder {
  color: #575B82;
  opacity: .8;
}
.fl-form textarea.fl-textarea:-moz-placeholder,
.fl-form input.fl-input:-moz-placeholder {
  color: #575B82;
  opacity: .8;
}
.fl-form textarea.fl-textarea::-moz-placeholder,
.fl-form input.fl-input::-moz-placeholder {
  color: #575B82;
  opacity: .8;
}
.fl-form textarea.fl-textarea:-ms-input-placeholder,
.fl-form input.fl-input:-ms-input-placeholder {
  color: #575B82;
  opacity: .8;
}
.selectize-input input::-webkit-input-placeholder {
  color: #575B82;
  opacity: .8;
}
.selectize-input input:-moz-placeholder {
  color: #575B82;
  opacity: .8;
}
.selectize-input input::-moz-placeholder {
  color: #575B82;
  opacity: .8;
}
.selectize-input input:-ms-input-placeholder {
  color: #575B82;
  opacity: .8;
}
.switchery {
  margin-right: 8px;
}
.checkbox label,
.radio label {
  padding-left: 2px;
}
.checkbox {
  font-size: 13px;
}
.dropzone {
  border: 1px solid #e7eaec;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
  min-height: 44px;
  padding: 10px;
}
.dropzone .dz-message {
  color: #575B82;
  text-align: left;
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}
.dropzone .dz-preview {
  margin: 0 4px 4px 0;
  min-height: 80px;
}
.dropzone .dz-preview .dz-image {
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
  width: 80px;
  height: 80px;
}
.dropzone .dz-preview .dz-details {
  padding: 0;
  font-size: 10px;
}
.dropzone .dz-preview .dz-progress {
  top: 100%;
  border-radius: 0;
}
.dropzone .dz-preview .dz-details .dz-size {
  font-size: 10px;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  border-radius: .28571429rem;
  background: #f4f4f4;
}
.dropzone.dz-started .dz-message {
  display: block;
  /* Don't let it disappear */
}
.dropzone.dz-max-files-reached .dz-message {
  /*opacity: 0;*/
  /* Make it disappear */
}
.dropzone .dz-preview {
  display: none;
}
.dropzone {
  cursor: pointer;
  cursor: hand;
}
.progress-template {
  margin-bottom: 5px;
}
.progress-template br {
  line-height: 1px;
}
.progress-template:first-child {
  margin-top: 15px;
}
.progress-template .file-name {
  display: block;
  font-size: 12px;
  padding: 8px 0 4px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.progress-template .progress {
  display: block;
  padding: 0 0 0 0;
  height: 2px;
  background-color: #e7eaec;
  margin-bottom: 0;
  border-radius: 0;
}
.progress-template .progress-bar {
  width: 0%;
  background-color: #5c5edc;
}
.progress-template .file-image {
  float: left;
}
.progress-template .file-meta {
  float: left;
  padding-left: 6px;
  width: 85%;
}
.progress-template .file-size {
  font-size: 10px;
  padding: 4px 0 0 0;
}
