{% set layout = admin.path+'/page/dashboard/index.html' %}
{% extends override_layout|default(layout) %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-lg-8 content-body">
          <form role="form" action="/{{ admin.baseUrl }}/{{ object }}/new" method="POST">
            {% for k, p in paths %}
              {% set firstChar = k|first %}
              {% if firstChar !== '_' %}
                {% field {name: k} %}{% endfield %}
              {% endif %}
            {% endfor %}
            {% submit 'Save',{} %}{% endsubmit %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
