{% import './help.html' as helpMacro %}

<div id="field-{{ name }}" class="form-group {% if errors[name] %}has-error{% endif %}">
  <label for="f-{{ name }}">{{ label or placeholder or name }}</label>
  <div>
    {% set instance = path.instance|lower %}
    <select
      name="{{ name }}"
      id="f-{{ name }}"
      data-ref="{{ ref or pathOpts.ref }}"
      data-display="{{ display or pathOpts.display }}"
      data-sort="{{ sort }}"
      data-type="{{ instance }}"
      data-value="{{ data[name] }}"
      data-qtype="{{ qType }}"
      data-placeholder="{{ placeholder or name }}"
      {% if dataAttrs %}
        {% for k, v in dataAttrs %}data-{{ k }}="{{ v }}"{% endfor %}
      {% endif %}
      class="{{ class or 'f-relation' }}"
      style="visibility:hidden;display:none;"
      {% if (multiple or instance === 'array') %}multiple{% endif %}>
        <option value=""></option>
        {% if (multiple or instance === 'array') %}
          {% set emptyArr = [] %}
          {% set dataArr = emptyArr.concat(data[name]) %}
          {% for d in dataArr %}
            <option value="{{ d }}"></option>
          {% endfor %}
        {% else %}
          <option value="{{ data[name] }}"></option>
        {% endif %}
    </select>

    {{ helpMacro.parse(name, help, errors, errorClass) }}
  </div>
</div>
